.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* main styling goes here */
main {
  min-height: 400px;
  background-color: antiquewhite;
}
/* HIW */
.main {
  background-color: antiquewhite;
  min-height: 700px;
}
/* yoursubmisions */
#submissions {
  min-height: 700px;
  min-width: 100%;
  background-color: antiquewhite;
}
/* gallery */
#gallery {
  background-color: antiquewhite;
}
#profile {
  background-color: antiquewhite;
  min-height: 700px;
  min-width: 100%;
}
/* Vote here */
#voteshere {
  min-height: 700px;
}
/* login/signup page */
#loginpage {
  min-height: 700px;
}
/* sign in page */
#signin {
  min-height: 700px;
}
/* footer styling section */
#footer {
  position: absolute;
  width: 100%;
  height: 205px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  /* left: 0;
  right: 0;*/
  /* bottom: 0; */
}
.links {
  display: flex;
}
.links a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 20px;
  font-size: 25px;
  color: white;
}

.links a:hover {
  transform: scale(1.5);
  transition: 0.5s;
  color: thistle;
}

footer p:nth-child(1) {
  font-size: 25px;
  color: thistle;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}
footer p:nth-child(2) {
  color: white;
  font-size: 15px;
  width: 450px;
  text-align: center;
  line-height: 20px;
}

footer p:nth-child(3) {
  color: white;
  font-size: 15px;
  width: 450px;
  text-align: center;
  line-height: 10px;
  margin-bottom: 10px;
}
.contributors:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: thistle;
  cursor: pointer;
}

footer p:nth-child(4) {
  color: white;
  font-size: 15px;
  width: 450px;
  text-align: center;
  line-height: 10px;
  margin-bottom: 10px;
}
footer p:nth-child(5) {
  color: white;
  font-size: 15px;
  width: 450px;
  text-align: center;
  line-height: 10px;
  margin-bottom: 7px;
}

/* Header */

#header {
  width: 100%;
  background-color: #101010;
  justify-content: center;
  display: inline-flex;
  min-height: 105px;
}
.title {
  margin-left: 15px;
}

#nav-bar {
  display: inline-flex;
  margin-left: 80px;
  padding-left: 50px;
  flex-direction: row;
}

#navTabs {
  list-style: none;
  font-size: 17px;
  display: inline-flex;
  padding: 3%;
  margin: 3%;
  white-space: nowrap;
}

.textglow {
  color: grey;
  animation: color-change 5s infinite;
}
@keyframes color-change {
  0% {
    color: thistle;
  }
  25% {
    color: lavender;
  }
  50% {
    color: gray;
  }
  75% {
    color: lavender;
  }
  100% {
    color: thistle;
  }
}

nav ul li {
  justify-content: center;
  align-items: center;
  color: white;
}

span {
  text-shadow: 3px 2px 4px rgb(222, 187, 222);
  cursor: pointer;
  color: #1a1c20;
}
@media screen and (max-width: 900px) {
  #header {
    flex-direction: column;
    text-align: center;
  }
  ul {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
